.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Eventmodel {
  position: absolute;
  width: 340px;
  top:  -100vh;
  z-index: 1040;
  transform: translate(0,0);
  border: 1px solid rgb(229, 229, 229);
  background-color: white;
  box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
  padding: 20px;
  display: block;
  left: 28%;
}

.Eventmodel button {
  width: 30px;
  height: 30px;
  margin-top: -56px;
  margin-right: -34px;
  float: right;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.calander-container {
  position: relative;
}

.button-container {
  width: 225px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 100px;
  cursor: pointer;
  height: 30px;
  border: none;
  background: #76818d;
  color: white;
  font-size: 16px;
}

.date-input-container {
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

/* inputModal */

.inputModal {
  position: absolute;
  width: 340px;
  top:  -100vh;
  z-index: 1040;
  transform: translate(0,0);
  border: 1px solid rgb(229, 229, 229);
  background-color: white;
  box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
  padding: 20px;
  display: block;
  left: 28%;
}

.inputModal input {
  width: 140px;
  height: 25px;
}

.popup-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.event-close-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-close-btn button,
.popup-button-container button {
  width: 80px;
    height: 30px;
    border: none;
    background: blue;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.label-t-d label {
  text-decoration: underline;
  font-weight: bold;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.myoverlay-event,
.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  z-index: 11;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-btn {
  padding: 12px 20px;
    margin-top: 18px;
    font-weight: 900;
    cursor:pointer;
    background: white;
    border-radius: 8px;
}

.modal-heading {
  font-size: 24px;
  margin-bottom: 13px;
}

.mymodal select {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 3px;
  background: lightgrey;
  border: navajowhite;
  cursor: pointer;
  padding: 5px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.input-container input {
  width: 50%;
  height: 40px;
  border-radius: 3px;
  outline: none;
}

.input-container input:nth-child(2) {
  margin: 0 5px;
}